<launch>
    <include file="$(find ur_gazebo)/launch/ur5_bringup.launch" />
    <include file="$(find ur5_moveit_config)/launch/moveit_planning_execution.launch">
        <arg name="sim" value="true"/>
    </include>
    <include file="$(find ur5_moveit_config)/launch/moveit_rviz.launch">
        <arg name="config" value="true"/>
    </include>

    <include file="$(find geomagic_control)/launch/geomagic.launch" />

    <node name="haptic_teleop_node" pkg="ur5e_haptic_teleop" type="haptic_teleop_node" required="true" output="screen"/>

    </launch>